:root > * {
    --md-primary-fg-color:        rgb(249,63,38);
    /* --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C; */
    }
p {
    font-size: 15px;
    }
@media only screen and (max-width: 600px) {
    #sm-links {
        display: none;
    }
}